<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/4.23.0-lts/standard/ckeditor.js"></script>
    <title>Title</title>
</head>
<body>
<!-- 메뉴 시작 -->
<div th:replace="admin/adminnav.html"></div>
<!-- 메뉴 끝 -->

<!-- 주문 목록 시작 -->
<div class="container my-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">구매자</th>
            <th scope="col">구매상품</th>
            <th scope="col">배송지</th>
            <th scope="col">연락처</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>buyer001</td>
            <td>Otto</td>
            <td>Seoul, Korea</td>
            <td>010-2345-6789</td>
            <td>삭제</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 주문 목록 끝 -->
</body>
</html>