<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Hello, world!</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
<!-- 메뉴 시작 -->
<div th:replace="shopnav.html"></div>
<!-- 메뉴 끝 -->

<!-- 공지 시작 -->
<div class="container my-5">
    <h2 th:text="${notice.noticeTitle}"></h2>
    <p th:text="*{#temporals.format(notice.noticeCreatedTime,'yyyy-MM-dd HH:mm:ss')}"></p>
    <p th:text="'작성자: ' + ${notice.noticeName}"></p>
    <p th:text="'조회수: ' + ${notice.noticeView}"></p>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" th:text="${notice.noticeMemo}" readonly></textarea>
    </div>
    <a class="btn btn-secondary" href="/notice" role="button">글목록</a>
</div>
<!-- 공지 끝 -->

<!--댓글 달기-->

<div class="container my-5">
    댓글
<div id="comment-write">
    <input type="text" class="form-control" id="commentWriter" placeholder="이름">
    <textarea class="form-control" id="commentMemo" rows="3"></textarea>
    <button id="comment-write-btn" class="btn btn-primary" onclick="commentWrite();">Submit</button>
</div>

댓글 출력
<div id="comment-list">
    <table class="table">
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>작성일</th>
        </tr>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.commentWriter}"></td>
            <td th:text="${comment.commentMemo}"></td>
            <td th:text="${#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>
</div>

<div th:replace="footer.html"></div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        fetchComments(); // 페이지가 로드될 때 댓글 목록을 가져옵니다.
    });

    const fetchComments = () => {
        $.ajax({
            type: "get",
            url: "/comment/list",
            data: {
                "noticeId": [[${notice.id}]]
            },
            success: function (res) {
                console.log("댓글 목록을 가져왔습니다.", res);
            },
            error: function (err) {
                console.log("댓글 목록을 가져오는데 실패했습니다.", err);
            }
        });
    }

    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const content = document.getElementById("commentMemo").value;
        const id = [[${notice.id}]];
        console.log("이름: ", writer);
        console.log("내용: ", content);
        console.log("번호: ", id);
        $.ajax({
            type: "post",
            url: "/comment/ok",
            data: {
                "commentWriter": writer,
                "commentMemo": content,
                "noticeId": id
            },
            success: function (res) {
                console.log("전송완료", res);
                // 댓글 작성 성공 시, 댓글 목록 업데이트
                fetchComments();
            },
            error: function (err) {
                console.log("전송실패", err);
            }
        });
    }
</script>

</html>
